<h1><%= @collection.name %></h1>
<p><%= @collection.descr %></p>

<h3>Properties</h3>
<ul>
  <% @collection.properties.each do |p| %>#
    <li><%= p.name %></li>
  <% end %>
</ul>

<h3>Items</h3>
<ul>

<% @collection.items.each do |item| %>
  <li>
    <%= item.name %>
    <ul>
      <% item.attributes.each do |a| %>
        <li><%= a.property.name %>: <% a.values.map { |v| v.value }.join(", ") %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>